<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="#">POD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <a class="navbar-brand d-none d-lg-block" href="../index.html">
          <img height="43px" src="../assets/img/pod.png">
        </a>
        <li class="nav-item pt-2">
          <a class="nav-link active" aria-current="page" id="sobre" href="/pod/index.html">Sobre</a>
        </li>
        <li class="nav-item dropdown pt-2">
          <a class="nav-link dropdown-toggle" href="#" id="disciplinas" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Disciplinas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/pod/pages/redes.html">Redes I</a></li>
            <li><a class="dropdown-item" href="/pod/pages/bd.html">Banco de Dados II</a></li>
            <li><a class="dropdown-item" href="/pod/pages/ad.html">Avaliação de Desempenho</a></li>
          </ul>
        </li>
      </ul>
      <a class="nav-item float-right nav-link btn btn-primary active p-2" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Sugestões</a>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Sugestões</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="suggestion-form" class="form-control" action="https://formspree.io/f/mqkjejqo" method="POST">
          <div class="mb-3">
            <label for="sender-name" class="col-form-label">Nome:</label>
            <input type="text" name="name" class="form-control" id="sender-name" required>
          </div>
          <div class="mb-3">
            <label for="sender-email" class="col-form-label">E-mail:</label>
            <input type="email" name="email" class="form-control" id="sender-email" required>
          </div>
          <div class="mb-3">
            <label for="sender-id" class="col-form-label">Matrícula:</label>
            <input type="text" name="matricula" class="form-control matricula" id="sender-id" required>
          </div>
          <div class="mb-3">
            <label for="sender-phone" class="col-form-label">Telefone:</label>
            <input type="text" name="phone" class="form-control phone" id="sender-phone">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Mensagem:</label>
            <textarea class="form-control" name="message" id="message-text" required></textarea>
          </div>
          <div class="modal-footer">
            <button id="suggestion" type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2"
              data-bs-toggle="modal">Enviar
              sugestão</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Obrigado!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Suas sugestões foram enviadas e serão analisadas por nós!
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
          onclick="javascript:clearMessage();">Mais
          sugestões?</button>
        <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script src="/pod/components/js/header.js"></script>